extends template
block variables
	- var title = 'История спидкубинга'
	- var menu_button1 = 'Главная'
	- var menu_button2 = 'FEFU Dragon Race 2023'
	- var menu_button3 = 'История спидкубинга'
	- var main_header = 'История спидкубинга'
block content
	.container
		.section
			h2 Спидкубинг
			p
				b Спидкубинг
				|  — это спорт, в котором участники соревнуются в сборке кубика Рубика и других головоломок на скорость. Кубик был изобретён в 1974 году венгерским скульптором Эрнё Рубиком и стал массовым хитом в 1980-х годах.
				img(src="https://yastatic.net/naydex/yandex-search/nnnx7G433/88c2eagCfz59/yzGIQWY8em_gTIYwX2ERWSWvGu5PRsjoETjyfTkQCsD4IrdtG6JXrCX4b9NSVUxt3HezNlxo9ck7bwr59wx86PvyapJAzoncJ4-EUi3A0M0lDxouXhfKXzVpk7yMU" alt="Кубик Рубика")

		.section
			h2 Первые соревнования
			p Первое официальное соревнование прошло в 1982 году в Будапеште. Победитель собрал кубик за 22,95 секунды. В дальнейшем интерес к соревнованиям угас, но в начале 2000-х годов спидкубинг возродился благодаря интернету.
			img(src="https://sun9-44.userapi.com/impf/c840734/v840734190/7c41f/xMPDlGGZ-As.jpg" alt="Первое соревнование")

		.section
			h2 Возрождение спидкубинга
			p В 2004 году была создана Всемирная ассоциация кубиков (WCA), которая стандартизировала правила соревнований. Были введены новые дисциплины, такие как сборка одной рукой и сборка вслепую.

		.section
			h2 Современный спидкубинг
			p Сегодня спидкубинг — это международный спорт с сотнями соревнований ежегодно. Рекорд по сборке кубика 3x3x3 составляет 3,13 секунды и принадлежит Максу Парку.
			img(src="https://avatars.mds.yandex.net/i?id=a25c9aade052f4fcd63949a37adbb7328fe2ef3e7bc69b64-12475310-images-thumbs&n=13" alt="Современный спидкубинг")

	