extends template
include mixin.pug
block variables
	- var title = 'История спидкубинга'
	- var menu_button1 = 'Главная'
	- var menu_button2 = 'FEFU Dragon Race 2023'
	- var menu_button3 = 'История спидкубинга'
	- var main_header = 'История спидкубинга'
block content
	+listItems(["Google", "Yandex"], 1)

	